.background {
    display:block; width: $background_width; height:$background_height;
    position: absolute;  z-index: 1;
    top:0px; right:0px; left:0px; bottom:0px;
    overflow: hidden;

    &:before {
        content : '';
        filter: blur($background_blur);
        display:block;
        position: absolute;  z-index: 1;
        top:0px; right:0px; left:0px; bottom:0px;

//        background: url(https://s-media-cache-ak0.pinimg.com/236x/e3/c5/82/e3c582e0623817fd2d29d0b477e0ef19.jpg);
//        background: url(https://s-media-cache-ak0.pinimg.com/564x/bf/21/55/bf2155c7236f58ef581551413f7acbc7.jpg); // spacy stuff
//        background: url(https://s-media-cache-ak0.pinimg.com/564x/1a/ba/21/1aba21dd01fafa8a142a447c49941af9.jpg); // ice tower or somthing
//        background: url(https://s-media-cache-ak0.pinimg.com/564x/8e/ef/7d/8eef7d89434a4cbadbbba8dc9887dc3c.jpg); // light blue sight mountain
//        background: url(https://s-media-cache-ak0.pinimg.com/564x/c9/1f/5a/c91f5a4b03569d4630f1d30870779c5b.jpg); // orange sight mountain
//        background: url(https://s-media-cache-ak0.pinimg.com/564x/c3/f7/86/c3f78626db5b088695e9ab66b1af596b.jpg); // orange sight 2 mountain
//        background: url(https://s-media-cache-ak0.pinimg.com/564x/a8/c7/25/a8c725e1813aab6bbe07f65dc82ae8c4.jpg); // ozean
//        background: url(http://il6.picdn.net/shutterstock/videos/12731783/thumb/1.jpg);
//        background: url(https://s-media-cache-ak0.pinimg.com/originals/82/a6/6c/82a66c6b69a61564494a682e4fb0d704.jpg); // polygon white
        background: url(http://img.wallpaperfolder.com/f/688A3954946D/3d-polygons-dark-pattern.jpg); // polygon black

        background-position: $background_position;
        background-size: cover;
        transform: scale(1.1) rotate($background_rotation);

        @include vendor-prefix('transition', 'all 3s');
        @include vendor-prefix('animation', 'move 15s infinite');
    }

    &:after {
        content : '';
        display: block;

        position: absolute;  z-index: 2;
        top:0px; right:0px; left:0px; bottom:0px;

        background: rgba(0,0,0,.8);
        transform: rotate(180deg);
        // border: red 10px solid;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
//        background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
//        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
//        background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.88) 15%, rgba(0,0,0,0.83) 39%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.88) 15%,rgba(0,0,0,0.83) 39%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.88) 15%,rgba(0,0,0,0.83) 39%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );

    }

}
