html, body {
    background: $body_bg;
    color: $body_color;
    font-size: $body_font_size;
    line-height: $body_line_height;
    
    position: relative;    
}

body {    
    font-family: 'Open Sans', sans-serif;    
    padding-top:100px;       

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Kumar One Outline', cursive;
}

//h3 { font-size: 46px; }

.kumar { 
    font-family: 'Kumar One Outline', cursive;
}

.open_sans {
    font-family: 'Open Sans', sans-serif;    
}

.space { height: 300px; display:block; }

body > section,
body > .main {    
    background-size: contain;
    background-position: center center;
    position: relative;
    z-index:10;
}