/*
    White Design Setup
*/

body.white {

    // lets set the body first
    background: #fff;
    color: #333;

    // Background layer
    .background {
        &:before {
            background-color: #fff;
            @include vendor-prefix('filter', 'invert(100%)');
        }
        &:after {
            background: #fff;
            @include vendor-prefix('transition', 'all 2s');
        }
        &.active:after {
            background: #fff;
            background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255, 1) 20%, rgba(255,255,255, .9) 45%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255, 1) 20%, rgba(255,255,255, .9) 45%, rgba(255,255,255,0) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255, 1) 20%, rgba(255,255,255, .9) 45%, rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
        }
    }


    // scrolldown
    .scrolldown {
        .icon { fill: #555; }
    }

    // MySelf part
    .myself {
        .slogan { color: #555; }
    }


    // countdown
    .countdown {
        color: #eee;
        overflow:hidden;

        &:before {
            @include vendor-prefix('filter', 'blur(3px)');
            @include vendor-prefix('animation', 'move 90s infinite');
            @include vendor-prefix('transform', 'scale(1.4)');
        }
        &:after { background: rgba(0,0,0,.4); }
    }


    // purpose part
    .purpose {
        &:before { @include vendor-prefix('filter', 'invert(100%)');  }
        &:after { background-color: rgba(255,255,255,.82); }
    }

}
