.countdown {
    padding-top: 40px;
    padding-bottom: 40px;
    background: darkred;
    background-image: url(http://pre08.deviantart.net/52eb/th/pre/f/2013/020/f/e/abstract_3d_background_by_a7md3mad-d5s46ix.jpg);
    background-size: cover;
    box-shadow: 0px 0px 20px 0px #000 inset;
    
    .countdown_wrapper {


        text-align: center;
        > div { vertical-align: top; }

        .d, .m, .h, .y, .s, .p {
            display: inline-block;
            line-height: 60px;
            font-size: 60px;
            text-shadow: 4px 5px 5px #111;
        }

        .p {
            color: gray;
            line-height: 50px;
            font-size: 40px;
        }



        .d {
            color: darkred;
        }    

        .h {
            color: darkolivegreen;   
        }    

        .m {
            color: deepskyblue;
        }    

        .s {
            color: lightcoral;
        }

        .y {
            color: darkolivegreen;
        }

    }
}