// General
.list ul {
    display:block;
    padding:0px; margin:0px;
    list-style: none;
}


// Skills & Tools
ul.skills,
ul.tools {
    display: block;
    text-align: center;

    li {
        display: inline-block;
        margin-bottom: 20px;
        vertical-align: top;
        // overflow: hidden;

        div.title {
            display: block;
            cursor: pointer;
            height: 50px; line-height: 50px;

            background: #fff;
            color: #555;

            border-left: 5px solid #eee;
            border-radius: 45px;
            padding: 0px 10px;
            // box-shadow: 0px 0px 10px 5px rgba(0,0,0,.5);

            @include vendor-prefix('transition', 'all .3s');

            &:hover {
                background: #eee;
                color: #444;
            }

            // Icon specific
            .icon, .name { vertical-align: top; }
            .icon.g {
                top: 5px; left: -5px;
                &.g-x2 { top: 0px; left: -10px; }
                &.g-x2 + .name { left: -10px; }
             }

            .name { position: relative; }


        } // end title

    }

}

// Tools
