// General
.list ul {
    display:block;
    padding:0px; margin:0px;
    list-style: none;
}


// Skills & Tools
ul.skills,
ul.tools {
    display: block;
    text-align: center;

    li {
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 20px;
        // overflow: hidden;

        > div {
            display: block;

            background: #050505;
            // background: #111;
            color: #eee;
            font-weight: bold;

            border-bottom: 1px solid #1a1a1a;
            border-radius: 3px;

            padding: 15px 20px;
            box-shadow: 0px 0px 10px 5px rgba(0,0,0,.5);

            background-position: center center;
            background-repeat: no-repeat;
            background-size: 350px;

            @include vendor-prefix('transition', 'all .3s');

            &:hover {
                background: #111;
                cursor:crosshair;
            }
        }

    }

}

// Tools
