/*
    Start with basic DOM Properties
*/
html, body {
    background: $body_bg;
    color: $body_color;
    position: relative;

    font-size: $body_font_size;
    line-height: $body_line_height;
    font-family: 'Open Sans', sans-serif;
}

/*
  Links
*/
a {
    color: $a_color;
    position: relative;
    border-bottom:0px solid dimgray;
    text-decoration: none !important;

    @include vendor-prefix('transition', 'all .4s');

    &:hover {
        color: deepskyblue;
        border-bottom:0px solid $a_color_hover;
    }
}


/*
    Button resets
*/
.btn, a { outline: none !important; }
.noborder { border: none; }

/*
  Spacer elements
*/
.space { height: 300px; display:block; }

/*
    Basic Setup for HTML5 Setting up
*/
.main {
    display: block;
    background-size: contain;
    background-position: center center;
    position: relative;
    z-index:10;
}

/*
    Vertical align centered
*/
.vcenter {
    display: table;
    width: 100%;
    position: relative;

    > div,
    > article,
    > section {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
    }
}

/*
    Hight classes
*/
.fullheight { height: 100vh; }
.halfheight { height: 50vh; }


/*
    Scroll Icon
*/
.scrolldown {
    display:block;
    width:auto; margin: 30px auto;

    .icon {
        position: relative; z-index: 20;
        display:block;
        width:80px; height:80px;
        margin:0px auto;
        fill: #eee;
        cursor: pointer;

        // Lets define the Icon here
        &:before {
            content:'';
            position: absolute;
            display: none;
            top:0px; left:0px; right:0px; bottom: 0px;
            background: center center no-repeat;
            background-size: contain;
        }

    }
}


/*
    No select
*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
