/*
    Fonts Setup file
*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Kumar One Outline', cursive;
}

h3 { font-size: 28px; border-bottom: 1px solid #888; }

.kumar {
    font-family: 'Kumar One Outline', cursive;
}

.open_sans {
    font-family: 'Open Sans', sans-serif;
}
